
/* @import url('https://fonts.googleapis.com/css?family=Arimo'); */


body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  /* font-family: Arial; */
  /* font-family: 'Arial', sans-serif;
   */
   font-family: "Helvetica Neue", sans-serif;
   font-weight:700;


}


